<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>/1A4WEgAClFcLl9HUEVUSU5JVEJTRQA=</data>
					<key>Replace</key>
					<data>/w==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>GPE.TINI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0w2Rg==</data>
					<key>Replace</key>
					<data>WEw2Rg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>_L6F to XL6F</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UlAyMQhMVFJaAAhPQkZaAAhMTVNMAAhMTlNMABQqX0lOSQ==</data>
					<key>Replace</key>
					<data>UlAyMQhMVFJaAAhPQkZaAAhMTVNMAAhMTlNMABQqWElOSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RP21._INI to RP21.XINI</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<false/>
			</dict>
		</dict>
		<key>HaltEnabler</key>
		<false/>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>xh_rvp08</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>keepsyms=1 debug=0x100 -v alcid=7 -igfxfw=2</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Embedded</string>
		<key>TextOnly</key>
		<false/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwCRPg==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>Display controller</string>
			</dict>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x77</string>
		<key>MLB</key>
		<string>C02003501J9LNV98C</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>SmUUID</key>
		<string>4A471721-6D66-41C0-88C2-119BBC16D837</string>
		<key>BoardSerialNumber</key>
		<string>C020203034NLNV9A8</string>
		<key>ProductName</key>
		<string>iMac19,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
</dict>
</plist>